## ENVIRONMENT
.venv/

## SECURITY KEYS
.env

## BOOK PDFS
data/Medical_book.pdf
data/AnatomyAndPhysiology-LR.pdf

## PRACTICE VECTORSTORE
FAISS/index.faiss
FAISS/index.pkl

## TESTING FILES
test_pipelilne.py
requirements.txt
